<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>testsunitaires/testconnexionservice.php</directory>
            <directory>testsunitaires/testemotionsservice.php</directory>
            <directory>testsunitaires/testhumeurservice.php</directory>
            <directory>testsunitaires/teststathumeurservice.php</directory>
            <directory>testsunitaires/testutilisateurservice.php</directory>
            <directory>testsunitaires/testverificationservice.php</directory>
        </testsuite>
    </testsuites>
</phpunit>